*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
[class*='bit-'] {
  float: left;
  padding: 10px;
}
[class*='bit-']:last-of-type {
  padding-right: 10px;
  float: right;
}
.frame:after {
  content: "";
  display: table;
  clear: both;
}
.bit-1 {
  width: 100%;
}
.bit-2 {
  width: 50%;
}
.bit-3 {
  width: 33.33%;
}
.bit-4 {
  width: 25%;
}
.bit-5 {
  width: 20%;
}
.bit-6 {
  width: 16.6666666667%;
}
.bit-7 {
  width: 14.2857142857%;
}
.bit-8 {
  width: 12.5%;
}
.bit-9 {
  width: 11.1111111111%;
}
.bit-10 {
  width: 10%;
}
.bit-11 {
  width: 9.09090909091%;
}
.bit-12 {
  width: 8.33%;
}