@media (max-width: 480px) {
  .bit-1 {
    width:100%;
  }
  .bit-2 {
    width:100%;
  }
  .bit-3 {
    width: 100%;
  }
  .bit-4 {
    width: 100%;
  }
  .bit-5 {
    width: 100%;
  }
  .bit-6 {
    width: 100%;
  }
  .bit-7 {
    width: 100%;
  }
  .bit-8 {
    width: 100%;
  }
  .bit-9 {
    width: 100%;
  }
  .bit-10 {
    width: 100%;
  }
  .bit-11 {
    width: 100%;
  }
  .bit-12 {
    width: 100%;
  }
  .frame .bit-4:nth-child(2) {
    float: right;
  }
  .frame .bit-4:nth-child(3) {
    clear: both;
    float: left;
  }
  .frame .bit-4:nth-child(4) {
    float: right;
  }
}
@media (min-width: 481px) and (max-width: 800px) {
  .bit-3 {
    width: 33.33%;
  }
  .bit-4 {
    width: 100%;
  }
  .bit-8 {
    width: 50%;
  }
  .bit-5 {
    width:100%;
  }
  .bit-6 {
    width:100%;
  }
  .bit-7 {
    width:100%;
  }
  .bit-8 {
    width: 100%;
  }
  .bit-9 {
    width: 100%;
  }
  .bit-10 {
    width: 100%;
  }
  .bit-11 {
    width: 100%;
  }
  .bit-12 {
    width: 50%;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 3em;
  }

  p {
    margin-top:0;
    font-size:0.8em;
    padding-bottom:15px;
  }
}
