/*
*
* Lemonade v1.1
* Copyright 2013, Joe Richardson
* lemonade.im
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
*
*/

/* For the grid example */
.box {
  text-align: center;
  font: 15px "Helvetica Neue", Helvetica, Arial;
  background:#ffc500;
  color:#fff;
  padding: 15px 0px 15px 0px
}