body {
  background: #40a9e0;
}
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
[class*='bit-'] {
  float: left;
  padding: 10px;
}
[class*='bit-']:last-of-type {
  padding-right: 0;
}
.frame:after {
  content: "";
  display: table;
  clear: both;
}
.bit-1 {
  width: 100%;
}
.bit-2 {
  width: 50%;
}
.bit-3 {
  width: 33.33%;
}
@media (min-width: 481px) and (max-width: 800px) {
  .bit-3 {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .bit-3 {
    width: 100%;
  }
}
.bit-4 {
  width: 25%;
}
@media (min-width: 481px) and (max-width: 800px) {
  .bit-4 {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .bit-4 {
    width: 50%;
  }
}
.bit-5 {
  width: 20%;
}
@media (max-width: 480px) {
  .bit-5 {
    width: 100%;
  }
}
.bit-6 {
  width: 16.6666666667%;
}
@media (max-width: 480px) {
  .bit-6 {
    width: 50%;
  }
}
.bit-7 {
  width: 14.2857142857%;
}
@media (max-width: 480px) {
  .bit-7 {
    width: 100%;
  }
}
.bit-8 {
  width: 12.5%;
}
@media (min-width: 481px) and (max-width: 800px) {
  .bit-8 {
    width: 50%;
  }
}
@media (max-width: 480px) {
  .bit-8 {
    width: 50%;
  }
}
.bit-9 {
  width: 11.1111111111%;
}
@media (min-width: 481px) and (max-width: 800px) {
  .bit-9 {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .bit-9 {
    width: 100%;
  }
}
.bit-10 {
  width: 10%;
}
@media (min-width: 481px) and (max-width: 800px) {
  .bit-10 {
    width: 50%;
  }
}
@media (max-width: 480px) {
  .bit-10 {
    width: 50%;
  }
}
.bit-11 {
  width: 9.09090909091%;
}
@media (min-width: 481px) and (max-width: 800px) {
  .bit-11 {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .bit-11 {
    width: 100%;
  }
}
.bit-12 {
  width: 8.27%;
}
@media (min-width: 481px) and (max-width: 800px) {
  .bit-12 {
    width: 50%;
  }
}
@media (max-width: 480px) {
  .bit-12 {
    width: 50%;
  }
}
h1 {
  text-align: center;
  font: 4em "Helvetica Neue";
  color: #fff;
  font-weight: 100;
  padding: 20px;
  padding-bottom: 0;
}
@media (max-width: 480px) {
  h1 {
    font-size: 3em;
  }
}
p {
  text-align: center;
  font: 1em "Helvetica Neue";
  color: rgba(0, 0, 0, 0.3);
  font-weight: 500;
  letter-spacing: 3px;
  padding-bottom: 20px;
}
footer > p {
  padding: 40px;
  padding-bottom: 100px;
  letter-spacing: 0;
}
.frame {
  width: 95%;
  margin: 0px auto;
}
.box {
  text-align: center;
  font: 1em "Helvetica Neue";
  background: #ffd464;
  color: #40a9e0;
  padding: 10px 0px 10px 0px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  cursor: pointer;
}
a,
a:visited {
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
a:hover {
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  color: #ffd464;
}
