* {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

body {
  background: #fff;
}

header {
  background:#40a9e0;
  margin-bottom:50px;
  border-bottom:1px solid rgba(0,0,0,.1);
}

h1 {
  text-align: center;
  font: 6em "Helvetica Neue" Arial;
  color: #fff;
  font-weight: 100;
  padding: 40px;
  padding-bottom: 0;
}

p {
  text-align: center;
  font: 1em "Helvetica Neue" Arial;
  color: rgba(0,0,0,.3);
  font-weight: 500;
  font-size:1.26em;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-top:-5px;
  padding-bottom: 30px;
}

.fork {
  padding-bottom:60px;
}

footer {
  margin-top:0px;
  text-align: center;
  padding:40px;
}

footer > p {
  padding: 0px;
  text-transform:none;
  letter-spacing: 0;
}

.frame {
  width: 95%;
  margin: 0px auto;
}

.box {
  text-align: center;
  font: 1em "Helvetica Neue" Arial;
  background: #fff;
  color: #ccc;
  border:2px solid #ccc;
  padding: 15px 0px 15px 0px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
      -ms-border-radius: 6px;
       -o-border-radius: 6px;
          border-radius: 6px;
  cursor: pointer;
}

.box:hover {
  border:2px solid #ffd464;
  color:#ffd464;
}

.button,
.button:visited {
  display: block;
  margin: 50px auto;
  width: 200px;
  background: #ff6060;
  font: 1em "Helvetica Neue" Arial;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
      -ms-border-radius: 6px;
       -o-border-radius: 6px;
          border-radius: 6px;
  -webkit-transition: all 0.1s ease-in-out;
     -moz-transition: all 0.1s ease-in-out;
          transition: all 0.1s ease-in-out;
  border: 0;
  padding: 15px;
  color: #fff;
  text-decoration: none;
}

.button:hover {
  opacity: 0.9;
  color: #fff;
}

.button:hover {
  opacity: 0.9;
  color: #fff;
}
