body {
  background: #40a9e0;
}
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
[class*='bit-'] {
  float: left;
  padding: 10px;
}
[class*='bit-']:last-of-type {
  padding-right: 10px;
  float: right;
}
.frame:after {
  content: "";
  display: table;
  clear: both;
}
.bit-1 {
  width: 100%;
}
.bit-2 {
  width: 50%;
}
.bit-3 {
  width: 33.33%;
}
.bit-4 {
  width: 25%;
}
.bit-5 {
  width: 20%;
}
.bit-6 {
  width: 16.6666666667%;
}
.bit-7 {
  width: 14.2857142857%;
}
.bit-8 {
  width: 12.5%;
}
.bit-9 {
  width: 11.1111111111%;
}
.bit-10 {
  width: 10%;
}
.bit-11 {
  width: 9.09090909091%;
}
.bit-12 {
  width: 8.33%;
}
h1 {
  text-align: center;
  font: 4em "Helvetica Neue" Arial;
  color: #fff;
  font-weight: 100;
  padding: 20px;
  padding-bottom: 0;
}
@media (max-width: 480px) {
  h1 {
    font-size: 3em;
  }
}
p {
  text-align: center;
  font: 1em "Helvetica Neue" Arial;
  color: rgba(0, 0, 0, 0.3);
  font-weight: 500;
  letter-spacing: 3px;
  padding-bottom: 20px;
}
footer {
  text-align: center;
}
footer > p {
  padding: 0px;
  padding-bottom: 100px;
  letter-spacing: 0;
}
.frame {
  width: 95%;
  margin: 0px auto;
}
.box {
  text-align: center;
  font: 1em "Helvetica Neue" Arial;
  background: #ffd464;
  color: #40a9e0;
  padding: 10px 0px 10px 0px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
      -ms-border-radius: 6px;
       -o-border-radius: 6px;
          border-radius: 6px;
  cursor: pointer;
}
.button,
.button:visited {
  display: block;
  margin: 50px auto;
  width: 200px;
  background: #ff6060;
  font: 1em "Helvetica Neue" Arial;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
      -ms-border-radius: 6px;
       -o-border-radius: 6px;
          border-radius: 6px;
  -webkit-transition: all 0.1s ease-in-out;
     -moz-transition: all 0.1s ease-in-out;
          transition: all 0.1s ease-in-out;
  border: 0;
  padding: 15px;
  margin-bottom: 100px;
  color: #fff;
  text-decoration: none;
}
.button:hover {
  opacity: 0.9;
  color: #fff;
}
.button:hover {
  opacity: 0.9;
  color: #fff;
}
