// For Demo Purposes Only.
.box {
	background: $lemonade-color;
	font-family: "Futura", sans-serif;
	font-size: 14px;
	text-align: center;
	padding: 20px 0;

	&--new {
		background: $new-grid-color;
	}
}
