/*
  Lemonade - Official Scss Port
  Created by Joe Richardson (dope)
*/

// Helpers
$full:        100%;
$half:        100% / 2;

// Breakpoints
$small:       30em;
$medium:      50em;
$large:       68.750em;

// Example padding for grid
$bit-padding: 0.3em;

// Grid widths
$start:       1;
$end:         12;