//
// Official LESS Port created by Joe Richardson (dope)
// Feel free to contribute.
//


*,
*:before,
*:after  {
  margin: 0;
  padding: 0;
  .box-sizing;
}


 // Set the width of the grid
 .frame {
  margin: 0 auto;

  // clearfix
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

 // Attribute selector
 [class*='bit-'] {
  float: left;
  padding: 0.3em;

  &:last-of-type {
    float: right;
  }
}

.bit-1 {
  width: @full;

  @media (max-width: @small) {
    width: @full;
  }
}

.bit-2 {
  width: @half;

  @media (max-width: @small) {
    width: @full;
  }

  @media (min-width: @small) and (max-width: @medium) {
    width: @full;
  }
}

.bit-3 {
  width: @full / 3;

  @media (max-width: @small) {
    width: @full;
  }

  @media (min-width: @small) and (max-width: @medium) {
    width: @full;
  }
}

.bit-4 {
  width: @full / 4;

  @media (max-width: @small) {
    width: @full;
  }

  @media (min-width: @small) and (max-width: @medium) {
    width: @half;
  }

  @media (min-width: @medium) and (max-width: @large) {
    width: @half;
  }
}

.bit-5 {
  width: @full / 5;

  @media (max-width: @small) {
    width: @full;
  }

  @media (min-width: @small) and (max-width: @medium) {
    width: @full;
  }
}

.bit-6 {
  width: @full / 6;

  @media (max-width: @small) {
    width: @full;
  }

  @media (min-width: @small) and (max-width: @medium) {
    width: @half;
  }
}

.bit-7 {
  width: @full / 7;

  @media (max-width: @small) {
    width: @full;
  }

  @media (min-width: @small) and (max-width: @medium) {
    width: @full;
  }

  @media (min-width: @medium) and (max-width: @large) {
    width: @full;
  }
}

.bit-8 {
  width: @full / 8;

  @media (max-width: @small) {
    width: @full;
  }

  @media (min-width: @small) and (max-width: @medium) {
    width: @half;
  }

  @media (min-width: @medium) and (max-width: @large) {
    width: @half;
  }
}

.bit-9 {
  width: @full / 9;

  @media (max-width: @small) {
    width: @full;
  }

  @media (min-width: @small) and (max-width: @medium) {
    width: @full;
  }
}

.bit-10 {
  width: @full / 10;

  @media (max-width: @small) {
    width: @full;
  }

  @media (min-width: @small) and (max-width: @medium) {
    width: @half;
  }

  @media (min-width: @medium) and (max-width: @large) {
    width: @half;
  }
}

.bit-11 {
  width: @full / 11;

  @media (max-width: @small) {
    width: @full;
  }

  @media (min-width: @small) and (max-width: @medium) {
    width: @full;
  }

  @media (min-width: @medium) and (max-width: @large) {
    width: @half;
  }
}

.bit-12 {
  width: @full / 12;

  @media (max-width: @small) {
    width: @full;
  }

  @media (min-width: @small) and (max-width: @medium) {
    width: @half;
  }
}