//
// Official LESS Port created by Joe Richardson (dope)
// Feel free to contribute.
//

// Helpers
@full:          100%;
@half:          100% / 2;

// Breakpoints
@small:         30em;
@medium:        50em;
@large:         68.750em;

// Example padding for grid
@bit-padding:   0.3em;